# macOS
.DS_Store
._*

# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/
.eggs/
*.egg

# Jupyter
.ipynb_checkpoints/

# Virtual environments
venv/
env/
.venv/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Office temp files
~$*

# Environment variables
.env
